* {
	font-family: default;
}

.display-1 {
	font-size: 100px;
	font-family: 'Bungee Shade';
}

img {
    display: block;
    margin-left: auto;
    width: 100%;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.navitem {
    float: left;
    display: block;
    padding: 8px;
}

